<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>
    <bean id="tea1" class="com.basic.example.Tea" />
    <bean id="tea2" class="com.basic.example.Tea"/>

    <bean id="coffee" class="com.basic.example.Coffee"/>


    <bean id="restaurant" class="com.basic.example.Restaurant" name="restaurant2" >
        <constructor-arg index="0" ref="coffee"/>
        <constructor-arg index="1" value="Gaurav"/>
        <property name="age" value="23"/>
    </bean>
    <bean id="restaurant1" class="com.basic.example.Restaurant" name="restaurant1" >
        <constructor-arg index="0" ref="coffee"/>
        <constructor-arg index="1" value="Gaurav"/>
        <property name="age" value="23"/>
    </bean>

</beans>